.personal-details {
  color: var(--text-primary);
  margin: 40px auto;
  margin-top: 5em;
  position: relative;
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
  border: 4px solid var(--background);
  position: absolute;
  top: 20px;
  left: 60%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  margin: auto;
}

@media screen and (min-width: 1600px) {
    .profile-pic {
      left: 57%;
    }
  }

@media screen and (max-width: 1000px) {
  .profile-pic {
    left: 65%;
  }
}

@media screen and (max-width: 700px) {
  .profile-pic {
    left: 70%;
  }
}

.details-data {
  max-width: 500px;
  border-radius: 7px;
  text-align: left;
  margin: auto;
  padding: 20px 1.2em 30px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.25),
    rgba(58, 72, 96, 0.5),
    rgba(159, 159, 159, 0.45),
    rgba(58, 72, 96, 0.5),
    rgba(0, 0, 0, 0.25)
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  box-shadow: var(--shadow);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.data-title {
  display: block;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: -0.02em;
  margin-bottom: 1em;
  font-family: 'Roboto Condensed', sans-serif;
}

.qr-code {
  width: 50px;
  margin: 1em 0.75em;
}

.data-phone {
  display: block;
  font-size: 2rem;
  letter-spacing: 0.7em;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.data-phone svg{
  font-size: 1.65rem;
}

.bottom-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data-name {
  letter-spacing: 0.15em;
  font-size: 1.25rem;
  font-weight: 400;
}

.data-email {
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
  cursor: pointer;
  font-size: 1.05rem;
}

@media screen and (min-width: 850px) {
  .profile-pic:hover{
    transform: translate(-50%, -50%) rotateX(10deg) rotateZ(3deg) scale(1.1);
  }
  .data-phone,
  .data-email{
    transition: all 0.5s;
  }
  .data-phone:hover,
  .data-email:hover{
    transform: scale(1.02);
  }
}

@media screen and (max-width: 570px) {
  .profile-pic {
    left: 70%;
    width: 120px;
  }
  .details-data {
    width: 75%;
    height: 250px;
  }
  .data-title {
    margin-bottom: 0.4em;
    font-size: 1.25rem;
  }
  .data-phone{
      font-size: 1.4rem;
      letter-spacing: 0.4em;
  }
  .bottom-data {
    flex-wrap: wrap;
    gap: 1em;
}
}

@media screen and (max-width: 350px) {
    .data-phone{
        font-size: 1.4rem;
        letter-spacing: 0.25em;
    }
    .profile-pic {
        left: 73%;
        width: 90px;
    }
}
