.hi-msg{
  color: var(--text-primary);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.6rem;
  font-weight: 900;
  margin: 0.25em auto 0.5em;
}
.name {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  color: var(--text-secondary);
}

.role {
  border: 1px solid var(--border);
  width: fit-content;
  margin: auto;
  padding: 5px 10px;
  color: var(--text-primary);
  box-shadow: var(--skill-shadow);  
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
}

.bio {
  text-align: justify;
  margin: 40px auto;
  font-family: 'Radio Canada', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  align-items: center;
  line-height: 2rem;
  color: var(--text-primary);
  max-width: 800px;
}

.main-bio span{
  color: var(--highlight);
  font-weight: 400;
}

@media screen and (max-width: 850px) {
  .bio {
    margin: 40px 7%;
  }
}

.angular-brace {
  font-size: 2rem;
  display: inline-block;
  transform: translateY(5px);
  color: var(--text-secondary);
}

